<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibescape</title>
    <link rel="stylesheet" href="/setup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo"><img width="90px" src="../images/vibescape_logo 1.png " alt=""><h1>Vibe<span>scape.</span></h1></div>
        <div class="search-box">
            <img src="../images/icons8-search 1.svg" alt="">
            <input type="text" placeholder="What would you like to play ?">
        </div>
        
        <div class="menu">
            <a href="#"><img width="38px" src="../images/icons8-home 1 (1).svg" alt=""> HOME</a>
            <a href="#"><img width="36px" src="../images/musical-note-black-shape-svgrepo-com 1 (1).svg" alt=""> LIBRARY</a>
            <a href="#"><img id="profile_logo"  src="../images/profile-1336-svgrepo-com 1.svg" alt=""></a>
        </div>
    </div>



<br><br>
    <section class="category">
        <h2>SONGS FOR YOU</h2>
<br>
         <div id="songs">
        <% songs.forEach(song => { %>
            <div class="songDiv">
                <h3><%= song.title %></h3>
                <% if (song.youtubeUrl) { %>
                    <iframe width="200" height="150"
                        src="<%= song.youtubeUrl.split('?')[0] %>" 
                        frameborder="0" allowfullscreen>
                    </iframe>
                <% } else { %>
                    <p>Error: Video URL not found.</p>
                <% } %>                
            </div>
        <% }); %>
    </div>
    </section>
<br>

    <!-- <section class="category">
        <h2>Podcasts in the Spotlight</h2>
<br>
        <div class="podcast-grid">
            <div class="podcast-card"><img src="/images/card5img.jpeg" alt="Podcast 7"><p>Top Global India</p></div>
            <div class="podcast-card"><img src="/images/card5img.jpeg" alt="Podcast 8"><p>Top Global India</p></div>
            <div class="podcast-card"><img src="/images/card5img.jpeg" alt="Podcast 9"><p>Top Global India</p></div>
            <div class="podcast-card"><img src="/images/card5img.jpeg" alt="Podcast 10"><p>Top Global India</p></div>
            <div class="podcast-card"><img src="/images/card5img.jpeg" alt="Podcast 11"><p>Top Global India</p></div>
            <div class="podcast-card"><img src="/images/card5img.jpeg" alt="Podcast 12"><p>Top Global India</p></div>
        </div>
    </section> -->
</body>
</html>
